@{
    ViewData["title"] = "Home";
}
<div id="filemanager"></div>

@section Scripts{
    <script>
        $(document).ready(function () {
            initFileManagerControl();
        });
        function initFileManagerControl() {
            var hostUrl = location.protocol + '//' + location.host + "/";
            var filemanagerInstance = new ej.filemanager.FileManager({
                ajaxSettings: {
                    url: hostUrl + 'Home/FileOperations',
                    getImageUrl: hostUrl + 'Home/GetImage',
                    uploadUrl: hostUrl + 'Home/Upload',
                    downloadUrl: hostUrl + 'Home/Download'
                },
            });
            // render initialized File Manager
            filemanagerInstance.appendTo('#filemanager');
        }
    </script>


}















































