<div id="chart"></div>
<script src="https://code.highcharts.com/highcharts.js"></script>

<script>
  var data = [    { "x": "Jan", "y": 10 },    { "x": "Feb", "y": 20 },    { "x": "Mar", "y": 30 },    { "x": "Apr", "y": 40 },    { "x": "May", "y": 50 }  ];

  Highcharts.chart('chart', {
    chart: {
      type: 'line'
    },
    title: {
      text: 'My Chart'
    },
    xAxis: {
      categories: data.map(item => item.x)
    },
    yAxis: {
      title: {
        text: 'Value'
      }
    },
    series: [{
      name: 'My Series',
      data: data.map(item => item.y)
    }]
  });
</script>
