@model List<GraphData>
<figure class="highcharts-figure">
    <div id="bao_chart"></div>
    <table id="datatable">
        <thead>
            <tr>
                <th>Year</th>
                <th>Gross Value</th>
                <th>Net Value</th>
            </tr>
        </thead>
        <tbody>
            @if(Model != null)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <th>@item.Year</th>
                        <td>@item.GrossValue</td>
                        <td>@item.NetValue</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</figure>

@*<tr>
    <th>2017</th>
    <td>29173</td>
    <td>27460</td>
</tr>
<tr>
    <th>2018</th>
    <td>28430</td>
    <td>26690</td>
</tr>
<tr>
    <th>2019</th>
    <td>28042</td>
    <td>26453</td>
</tr>
<tr>
    <th>2020</th>
    <td>27063</td>
    <td>25916</td>
</tr>
<tr>
    <th>2021</th>
    <td>28684</td>
    <td>6300</td>
</tr>*@